In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('course_lead_scoring.csv')
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [4]:
df.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [5]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [6]:
dict_dtypes = df.dtypes.to_dict()
dict_dtypes

{'lead_source': dtype('O'),
 'industry': dtype('O'),
 'number_of_courses_viewed': dtype('int64'),
 'annual_income': dtype('float64'),
 'employment_status': dtype('O'),
 'location': dtype('O'),
 'interaction_count': dtype('int64'),
 'lead_score': dtype('float64'),
 'converted': dtype('int64')}

In [7]:
categorical = [k for k,v in dict_dtypes.items() if str(v) == 'object']
numerical = [k for k,v in dict_dtypes.items() if str(v) in(['int64', 'float64'])]

In [8]:
for c in categorical:
    df[c] = df[c].fillna('NA')
for c in numerical: 
    df[c] = df[c].fillna(0.0)

In [9]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [10]:
most_frequent_industry = df.industry.value_counts(ascending=False)

In [11]:
numerical

['number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score',
 'converted']

In [13]:
for c in numerical:
    l = numerical.copy()
    l.remove(c)
    print(f'Correlation of {c}')
    for i in l:
        print(f'correlation with {i} == {df[l].corrwith(df[i])}\n')
        print()
        print()

Correlation of number_of_courses_viewed
correlation with annual_income == annual_income        1.000000
interaction_count    0.027036
lead_score           0.015610
converted            0.053131
dtype: float64



correlation with interaction_count == annual_income        0.027036
interaction_count    1.000000
lead_score           0.009888
converted            0.374573
dtype: float64



correlation with lead_score == annual_income        0.015610
interaction_count    0.009888
lead_score           1.000000
converted            0.193673
dtype: float64



correlation with converted == annual_income        0.053131
interaction_count    0.374573
lead_score           0.193673
converted            1.000000
dtype: float64



Correlation of annual_income
correlation with number_of_courses_viewed == number_of_courses_viewed    1.000000
interaction_count          -0.023565
lead_score                 -0.004879
converted                   0.435914
dtype: float64



correlation with interaction_count == number_of_courses_viewed   -0.023565
interaction_count           1.000000
lead_score                  0.009888
converted                   0.374573
dtype: float64



correlation with lead_score == number_of_courses_viewed   -0.004879
interaction_count           0.009888
lead_score                  1.000000
converted                   0.193673
dtype: float64



correlation with converted == number_of_courses_viewed    0.435914
interaction_count           0.374573
lead_score                  0.193673
converted                   1.000000
dtype: float64



Correlation of interaction_count
correlation with number_of_courses_viewed == number_of_courses_viewed    1.000000
annual_income               0.009770
lead_score                 -0.004879
converted                   0.435914
dtype: float64



correlation with annual_income == number_of_courses_viewed    0.009770
annual_income               1.000000
lead_score                  0.015610
converted                   0.053131
dtype: float64



correlation with lead_score == number_of_courses_viewed   -0.004879
annual_income               0.015610
lead_score                  1.000000
converted                   0.193673
dtype: float64



correlation with converted == number_of_courses_viewed    0.435914
annual_income               0.053131
lead_score                  0.193673
converted                   1.000000
dtype: float64



Correlation of lead_score
correlation with number_of_courses_viewed == number_of_courses_viewed    1.000000
annual_income               0.009770
interaction_count          -0.023565
converted                   0.435914
dtype: float64



correlation with annual_income == number_of_courses_viewed    0.009770
annual_income               1.000000
interaction_count           0.027036
converted                   0.053131
dtype: float64



correlation with interaction_count == number_of_courses_viewed   -0.023565
annual_income               0.027036
interaction_count           1.000000
converted                   0.374573
dtype: float64



correlation with converted == number_of_courses_viewed    0.435914
annual_income               0.053131
interaction_count           0.374573
converted                   1.000000
dtype: float64



Correlation of converted
correlation with number_of_courses_viewed == number_of_courses_viewed    1.000000
annual_income               0.009770
interaction_count          -0.023565
lead_score                 -0.004879
dtype: float64



correlation with annual_income == number_of_courses_viewed    0.009770
annual_income               1.000000
interaction_count           0.027036
lead_score                  0.015610
dtype: float64



correlation with interaction_count == number_of_courses_viewed   -0.023565
annual_income               0.027036
interaction_count           1.000000
lead_score                  0.009888
dtype: float64



correlation with lead_score == number_of_courses_viewed   -0.004879
annual_income               0.015610
interaction_count           0.009888
lead_score                  1.000000
dtype: float64